<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Page</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <h1>New Page</h1>
    <br>
    <img src="https://images.unsplash.com/photo-1586416557666-68f43f69ee4e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dW5wbGFzaHxlbnwwfHwwfHx8MA%3D%3D">
</body>

</html>